{{ define "content" }}
<div class="container">
    <h1>Ynov-BallDontLie</h1>

    <div class="row">
        <form>
            <div class="input-field col s12">
                <input type="text" class="validate grey-text" list="datalist" name="input" required />
                <label for="last_name">Searchbar</label>
            </div>
        </form>
    </div>

    {{/* <datalist id="datalist">*/}}
        {{/* {{ range . }}*/}}

        {{/* <option value="{{ .Name }}">{{ .Name }} // Teams</option>*/}}
        {{/* <option value="{{ .City }}">{{ .City }} // Teams</option>*/}}
        {{ end }}*/}}
        {{/*
    </datalist>*/}}

    {{/* <div class="list">*/}}
        {{/* {{ range . }}*/}}
        {{/* <div class="card z-3">*/}}
            {{/* <div class="card-image">*/}}
                {{/* <a href="/{{ .Id }}">*/}}
                    {{/* </a>*/}}
                {{/* <a* /}} {{/* class="btn-floating btn-large halfway-fab waves-effect waves-light red" */}} {{/*
                    href="/teams/{{ .Id }}" */}} {{/*><i class="material-icons">arrow_forward</i></a* /}} {{/*>*/}}
                {{/* </div>*/}}

            {{/* <div class="card-content">*/}}
                {{/* <p class="card-title">{{ .Abbr }}</p>*/}}
                {{/* </div>*/}}
            {{/* </div>*/}}
        {{/* {{ end }}*/}}
        {{/* </div>*/}}
    {{/*
</div>*/}}
<div class="col s12 l8">
    <div class="row">
        {{ range . }}
        <div class="col s12 m6 l4">
            <div class="card z-3">
                <div class="card-image">
                    <a href="/teams/{{ .Id }}">
                    </a>
                    <a class="btn-floating btn-large halfway-fab waves-effect waves-light red"
                        href="/teams/{{ .Id }}"><i class="material-icons">arrow_forward</i></a>
                </div>

                <div class="card-content">
                    <p class="card-title">{{ .FullName }}</p>
                </div>
            </div>
        </div>
        {{ end }}
    </div>
</div>
</div>
{{end}}